body {
	background-color: #F4F4F4;
	font-size: 16px;
	font-family: Helvetica, Helvetica Nue, sans-serif;
	margin: 0;
	line-height: 1.6em;
	color: #555;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-navbar {
	background-color: #33CC99;
	color: #FFF;
}
#main-navbar .links {
	padding: 10px 0;
}
#main-navbar ul {
	padding: 0;
	list-style: none;
}
#main-navbar li {
	display: inline;
}
#main-navbar .right {
	float: right;
}
#main-navbar .main-link a {
	font-size: 30px;
	padding-right: 50px;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
#main-navbar a {
	text-decoration: none;
	color: #F8F8F8;
	font-size: 20px;
	padding-right: 20px;
}
#main-navbar a:hover,
#main-navbar a:active {
	color: #e2e2e2;
}


#intro {
	background-image:url('../images/intro-bg.jpg');
	background-position: center center;
	background-size: cover;
	margin-bottom: 30px;
	text-align: center;
}
#intro {
	color: #FFF;
}
#intro .overlay {
	background: rgba(0, 0, 0, 0.50);
	min-height: 300px;
}
#intro .main {
	float: left;
	width: 60%;
	padding: 80px 30px 0 30px;
	box-sizing: border-box;
}
#intro .main h1 {
	text-align: left;
	font-size: 3em;
	font-weight: 300;
	line-height: 1.1em;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}
#intro .main h3 {
	text-align: left;
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 300;
	text-shadow: 0 1px 1px rgba(0,0,0,0.7);
}
#intro .sidebar {
	float: right;
	width: 40%;
	padding: 0 30px;
	box-sizing: border-box;
}
#intro #sign-up-form {
	background: #FFF;
	margin: 75px 0;
	opacity: 0.8;
	color: #555;
	border-radius: 3px;
	padding: 20px;
}
.form {
	text-align: left;
}
.form h2 {
	text-align: center;
}
.form .form-group {
	padding-bottom: 10px;
}
.form label{
	display: block;
}
.form input[type="text"], .form input[type="password"] {
	padding: 8px;
	width: 90%;
}
.form input[type="submit"]{
	background-color: #FF530A;
	color: #FFF;
	font-size: 18px;
	font-weight: 600;
	padding:10px 20px;
	border: none;
	border-radius: 3px;
	width: 100%;
	opacity: 1;
}
#services .item {
	padding: 10px;
	float: left;
	width: 33.3%;
	box-sizing: border-box;
	text-align: center;
}
#services .item h3 {
	font-size: 1.8em;
	text-align: center;
	font-weight: 600;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
#services i{
	color: #66CC99;
	text-shadow: 0 1px 1px rgba(0,0,0,0.3);
}
footer {
	background-color: #66CC99;
	padding: 20px;
	margin-top: 50px;
	color: #FFF;
	text-align: center;
}

@media(max-width:600px){
	.container {
		width: 100%;
	}
	#main-navbar li {
		line-height: 1.8em;
		text-align: center;
		float: none;
		display: block;
	}
	#main-navbar .main-link a {
		font-size: 2em;
		padding-right: 0;
	}
	#main-navbar .right {
		float: none;
	}
	#intro .main {
		padding-top: 20px;
		float: none;
		width: 100%;
	}
	#intro .main h1 {
		font-size: 2.2em;
	}
	#intro .main h3 {
		font-size: 1.2em;
	}
	#intro .sidebar {
		float: none;
		width: 100%;
	}
	#services .item {
		float: none;
		width: 100%;
	}
}